<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <link rel="stylesheet" href="/styles.css"/>
</head>
<body>

<div th:unless="${authenticated}">
  <h2>Welcome to my <b>secured</b> website!</h2>
  <h3>Login or Signup to get started!</h3>
  <a href="/login">Login</a>
  </br>
  <a href="/register">Signup</a>
</div>

<div th:if="${authenticated}">
  <h2>Welcome to my <b>secured</b> website!</h2>
  <h3>Congrats, you're logged in!</h3>

  <p>Please take a look at our <a href="/searchusers/sort:User.username/direction:asc">user list</a>!</p>
</div>
</body>
</html>